#CLASS {fangqi} OPEN

#ACTION {【 经 验 】  %1}
{
     #variable exp %1;
     #if {%1 < $base_exp}
     {
          #untick fq
     }
}

#ALIAS {fq}
{
     #TICKER   {fq}  {fangqi exp;hp}  {3}
}

#VARIABLE {base_exp}  {100000}

#CLASS {fangqi} CLOSE
