#CLASS {fangqi} OPEN

#ACTION {【 经 验 】  %1}
{
     #variable exp %1
}

#ACTION {^【当前等级】  %1}
{
     #variable lv %1;
     #if {%1 < $base_lv}
     {
          #untick fq
     }
}

#TICKER           {fq}  {fangqi exp;hp -m}  {3}

#VARIABLE         {base_lv}  {100}

#CLASS {fangqi} CLOSE
