#CLASS {xuexi} OPEN

#ACTION {^然而你今天太累了，无法再进行任何学习了。}
{
     eat huoqi dan
}

#ALIAS {xuexi}
{
     #ticker xx {xue $master $skill 100} 3
}

#VARIABLE         {master}  {hebi}
#VARIABLE         {skill}  {dodge}

#CLASS {xuexi} CLOSE
